<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisioAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisioAddin.Properties.Settings>
            <setting name="ServerSettings" serializeAs="String">
                <value>"{\"Servers\":[{\"Name\":\"www.visio-shapes.com\",\"Url\":\"https://www.visio-shapes.com\",\"User\":\"\",\"Password\":\"\"},{\"Name\":\"localhost\",\"Url\":\"http://127.0.0.1:5000\",\"User\":\"\",\"Password\":\"\"}],\"CurrentServer\":\"www.visio-shapes.com\"}"</value>
            </setting>
        </VisioAddin.Properties.Settings>
    </userSettings>
</configuration>